@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.card {
  width: 18rem;
}
.card-body {
  background-color: white;
  height: 25rem;
  width: auto;
}
